<!Doctype html>
<html>
	<head>
		<title>sign up</title>
             <style>
body{
background-repeat: no-repeat;
background-position: 50 50;
}
</style>
        		<script >
var imgs=new Array()
imgs[0]="http://cdn.wallpapersafari.com/80/28/C36XHL.jpg";
imgs[1]="http://www.chainimage.com/images/pure-technology-high-definition-wallpapers-hd-wallpapers.jpg";
imgs[2]="http://www.hdnicewallpapers.com/1920x1080/Beautiful_Flower_HD_Image.jpg";
var speed=2000
var processed=new Array()
for (i=0;i<imgs.length;i++){
processed[i]=new Image();
processed[i].src=imgs[i];
}
var inc=-1;
function slideimg(){
if (inc<imgs.length-1)
inc++;
else
inc=0;
document.body.background=processed[inc].src;
}
if (document.all||document.getElementById)
window.onload=new Function('setInterval("slideimg()",speed)');
</script>
		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--Bootstrap-->
		<link href="css/bootstrap.css" rel="stylesheet">

	</head>
	<body>



        <td colspan=2><center><font size=4><b>
        <div class="background-image"></div>
        <div class="content">

        </div>
		<div>
			<h1 style="color:white;">INSTAGRAM CLONE</h1>
			<h3>SIGNUP</h3>

			<form method="POST">
			{% csrf_token %}
       <div>
           <label for="username">Username: </label>
           <input id="username" name="username" value="{{ username }}" type="text">
       </div><br>

       <div>
           <label for="name">Name: </label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="name" name="name" value="{{name}}" type="text">
       </div><br>

       <div>
           <label for="email"> Email: </label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id="email" name="email" value="email" type="text">
       </div><br>

       <div>
           <label for="password">Password: </label>
           <input id="password" name="password" value="{{password}}" type="password">
       </div><br><br>
           <input value="Sign Up"style="background-color:#07c ;height:35px; width:100px" type="submit">
    </form>


		</div><br><br>
            <div><h3>Already a user?</h3><a href="/login/">LOGIN</a> </div>


		<!--Javascript files-->
		<!--Jquery library-->
		<script src="js/jquery-3.2.1.js"></script>
		<!--Bootstrap js Library-->
		<script src="js/bootstrap.js"></script>
	</body>
</html>
